{% extends 'base.html' %}


{% block content %}

{% if user.is_authenticated %}

<form action='' method='POST' enctype="multipart/form-data">{% csrf_token %}
    <p>ゲーム名：<input type='text' name='title'></p>
    <p>内容：<input type='text' name='content'></p>
    <p>プレイ時間</p>
    <select name='evaluation'>
        <option value="長時間">長時間</option>
        <option value="普通">普通</option>
        <option value="短時間">短時間</option>
    </select>
    <input type="hidden" name="author" value="{{ user.id }}">
    <input type='submit' value='作成する'>
</form>
    
{% else %}
ログインしてください
<a href="{% url 'login' %}" class="btn btn-primary" role="button" aria-pressed="true">ログイン</a>
{% endif %}
{% endblock content %}