{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}
<div class='container'>
    
    <div class="card">
        <h5 class="card-header">{{ object.title }}</h5>
        <div class="card-body">
            <h5 class="card-title">投稿者：{{ object.authoer }}</h5>
            <h5 class="card-title">レビュー内容：{{ object.content }}</h5>
            <h5 class="card-title">プレイ時間：{{ object.evaluation }}</h5>
            <h5 class="card-title">レビューが参考になった人：{{ object.useful_review }}人</h5>
            <a href="#" class="btn btn-primary">詳しく見る</a>
            <a href="#" class="btn btn-primary">戻る</a>
        </div>
    </div>
    
</div>
{% endblock content %}