
{% extends 'base.html' %}

{% block content %}

<div class="container">

<form class="form-signin" method='post'>{% csrf_token %}
    <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
    {% if error %}
    {{ error }}
    {% endif %}
    <label for="inputEmail" class="sr-only">Username</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="username" name="username_data" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password_data" required>
    <div class="checkbox mb-3">
      
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    <a href="{% url 'login' %}" class="btn btn-primary">ログインはこちら</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
  </form>
</div>
{% endblock content %}